body {
	background-color:green;
	font-family: verdana;
}
p,li,td,th {
	font-size:18pt;
       
}

h2,h3,h4,h5,h6 {
	color:#003399
}



#navbar {
	background-color:#220000;
	margin-top:5px;
}

#banner {
	font-size:24pt;
	color:#ffffff;
	background-color:#ffffff;
}

#desc {
	background-color:#ffffff;
	color:#000000;
}

a.nav {
	color:#ffffff;
	font-size:12pt;
	font-weight:normal;
}

a.open_nav {
	color:#ffffff;
	font-size:18pt;
	font-weight:bold;
}

hr {
	color:#111155;
}

a.open_nav:hover {

}

a.nav:hover{
	color:rgb(118,143,165);
}

a:hover {
	color:rgb(118,143,165);
}

a {
	text-decoration:none;
	color:#ffffff;
        font-size:18pt;
	font-weight:bold;
}

#content 
{
	position:absolute;
	width:80%;
	left:10%;
	right:10%;
	text-align:left;
}

#navbar 
{
	position:absolute	;
	width:100%;
	height:45px;
	top:0px;
}

#banner 
{
	position:absolute;
	width:100%;
	height:200px;
	text-align:center;
	padding-top:10px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	top:50px;
}

#desc 
{
	position:absolute;
	padding-left:1%;
	padding-right:0%;
	padding-top:0px;
	width:100%;
	margin-top:0px;
	top:218px;
}

h1{
    text-align: center
}
p{
    text-align: center
}

img.sbu_navbar
{
	float:right;
}

img.photo_floating_right
{
	float:right;
	padding-left:20px;
}

img.photo_floating_left
{
	float:left;
	padding-right:20px;
}

a.footer
{
	font-size:18pt;
	margin: auto;
	padding-top:00px;
}

img {
        width:100%;
	border:0;
}

img.stonybrook {
	background-color:white;
	padding-left:10px;
	float:left;
}

img.cs {
	float:right;
	padding-right:10px;
}

img.start_up
{
	float:right;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:5px;
}

img.centered {
	margin-left:30%;
	margin-right:30%;
}


a.nav, a.open_nav {
	display:inline-block;
	border:none;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	padding-left:5px;
	padding-right:20px;
	padding-top:5px;
	width:80px;
}

p.contact_info
{
	padding-top:0px;
	margin-top:0px;
	margin-bottom:0px;
}

td.course_name
{
	padding-left:10px;
	padding-right:10px;
}

img.logo_page
{
	position:relative;
	width:100%;
	height:auto;
}

table 
{
	border-color:#555555;
}

table.schedule
{
	margin:auto;
	width:100%;
}

td.sch
{
	position:relative;
	width:20%;
	height:150px;
	margin-left:0%;
	margin-right:0%;
	vertical-align:top;
}

th.sch
{
	vertical-align:top;
	text-align:center;
	border-color:#888888;
}

td.holiday 
{
	background-color:#aaaaaa;
	vertical-align:top;
}