body {
	background-color:white;
	font-family: Not set;}
p,li,td,th {
	font-size:18pt;
        
}

a,p,li,h1,h2,h3,h4,h5,h6 {
	color:#003399
}



#navbar {
	background-color:yellow;
	margin-top:5px;
}

#banner {
	font-size:24pt;
	color:#ffffff;
	background-color:#ffffff;
}

#desc {
	background-color:Not set;
	color:#ffffff;
}

a.nav {
	color:#ffffff;
	font-size:12pt;
	font-weight:normal;
}

a.open_nav {
	color:#ffffff;
	font-size:18pt;
	font-weight:bold;
}

hr {
	color:#111155;
}

a.open_nav:hover {

}

a.nav:hover{
	color:rgb(118,143,165);
}

a:hover {
	color:rgb(118,143,165);
}

a {
	text-decoration:none;
	color:#ffffff;
        font-size:18pt;
	font-weight:bold;
}}#content 
{
	position:absolute;
	width:80%;
	left:10%;
	right:10%;
	text-align:left;
}

#navbar 
{   
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    
    line-height:30px;
    height:100%;
    
    
    padding:1px;
    top:0px;
}

#banner 
{       
	position:absolute;
	width:100%;
	height:200px;
	text-align:center;
	padding-top:10px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	
        
}

#desc 
{
	position:absolute;
	padding-left:0%;
	padding-right:0%;
	padding-top:0px;
	
	margin-top:0px;
	top:218px;
        left:120px;
}


img.photo_floating_right
{
	float:right;
	padding-left:20px;
}

img.photo_floating_left
{
	float:left;
	padding-right:20px;
}

a.footer
{
	font-size:18pt;
	text-align:center;
	padding-top:00px;
}

p.paragraph{
    font-size:18pt;
    text-align:center;
}


img {
    width:100%;
	border:0;
}

img.stonybrook {
	background-color:white;
	padding-left:10px;
	float:left;
}

img.cs {
	float:right;
	padding-right:10px;
}

img.start_up
{
	float:right;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:5px;
}

img.centered {
	margin-left:30%;
	margin-right:30%;
}


a.nav, a.open_nav {
	display:inline-block;
	border:none;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	padding-left:5px;
	padding-right:20px;
	padding-top:5px;
	width:80px;
}
