/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & _____________
 */
.lang_prompt, .lang_combo_box, .lang_ok_button,
.title_prompt, .title_text_field,
.caption_prompt, .caption_text_field {
    -fx-font-family:sans-serif;    
}

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(50, 50, 50);
    -fx-border-color: rgb(50, 5, 5);
    -fx-alignment: center;
    -fx-orientation: vertical;
    -fx-vgap:20;
}

.slide_edit_view {
    -fx-background-radius: 10.0;
  
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    
}

.slide_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(90, 240, 90);
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.vertical_toolbar_button {
    -fx-background-color: rgb(250, 130, 130);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}

.horizontal_toolbar_button {
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}
