body {
	background-color:yellow;
	font-family: courier;
p,li,td,th {
	font-size:18pt;
        color:#ffffff;
}

h2,h3,h4,h5,h6 {
	color:#003399
}



#navbar {
	background-color:#220000;
	margin-top:5px;
}

#banner {
	font-size:24pt;
	color:;
	background-color:#000000;
}

#desc {
	background-color:#000000;
	color:#000000;
}

a.nav {
	color:#ffffff;
	font-size:12pt;
	font-weight:normal;
}

a.open_nav {
	color:#ffffff;
	font-size:18pt;
	font-weight:bold;
}

hr {
	color:#111155;
}

a.open_nav:hover {

}

a.nav:hover{
	color:rgb(118,143,165);
}

a:hover {
	color:rgb(118,143,165);
}

a {
	text-decoration:none;
	color:#ffffff;
        font-size:18pt;
	font-weight:bold;
}span {
	color:#8888ff;
	font-weight:bold;
}

span.reading {
	color:#990099;
	font-weight:normal;
}

span.tutorial {
	color:#990099;
	font-weight:normal;
}

span.hw {
	color:#990000;
	font-weight:normal;
}

span.grading {
	color:#771177;
	font-weight:bold;
}

td.highlight {
	background-color:#00ffff;
}

table.hws {
	border: 2px solid black;
	border-collapse:collapse;
}

th.hws {
	padding-right: 80px;
}

td.hws {
	padding-right:80px;
}

   .office_hours_schedule td
   {
	height:50px;
	text-align:center;
	font-weight:bold;
	background-color:rgb(227,230,235);
   }
   td.time
   {
	background-color:rgb(174,189,99);
	color:black;
   }
   td.open
   {
	background-color:rgb(220,100,100);
   }
   td.lecture
   {
	background-color:rgb(103,124,151);
   }
   td.tas
   {
	width:260px;
   }
   .office_hours_schedule th
   {
	background-color:rgb(180,120,180);
   }
   .email
   {
	font-size:11pt;
	color:black;
	font-weight:normal;
   }#content 
{
	position:absolute;
	width:80%;
	left:10%;
	right:10%;
	text-align:left;
}

#navbar 
{   
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    
    line-height:30px;
    height:100%;
    
    
    padding:1px;
    top:0px;
}

#banner 
{       
	position:absolute;
	width:100%;
	height:200px;
	text-align:center;
	padding-top:10px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	
        
}

#desc 
{
	position:absolute;
	padding-left:0%;
	padding-right:0%;
	padding-top:0px;
	
	margin-top:0px;
	top:218px;
        left:120px;
}


img.photo_floating_right
{
	float:right;
	padding-left:20px;
}

img.photo_floating_left
{
	float:left;
	padding-right:20px;
}

a.footer
{
	font-size:18pt;
	text-align:center;
	padding-top:00px;
}

p.paragraph{
    font-size:18pt;
    text-align:center;
}


img {
    width:100%;
	border:0;
}

img.stonybrook {
	background-color:white;
	padding-left:10px;
	float:left;
}

img.cs {
	float:right;
	padding-right:10px;
}

img.start_up
{
	float:right;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:5px;
}

img.centered {
	margin-left:30%;
	margin-right:30%;
}


a.nav, a.open_nav {
	display:inline-block;
	border:none;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	padding-left:5px;
	padding-right:20px;
	padding-top:5px;
	width:80px;
}
