body {
	background-color:red;
	font-family:verdana;
p,li,td,th {
	font-size:18pt;
        color:#ffffff;
}

h2,h3,h4,h5,h6 {
	color:#003399
}



#navbar {
	background-color:red;
	margin-top:5px;
}

#banner {
	font-size:24pt;
	color:yellow;
	background-color:#000000;
}

#desc {
	background-color:red;
	color:#000000;
}

a.nav {
	color:#ffffff;
	font-size:12pt;
	font-weight:normal;
}

a.open_nav {
	color:#ffffff;
	font-size:18pt;
	font-weight:bold;
}

hr {
	color:#111155;
}

a.open_nav:hover {

}

a.nav:hover{
	color:rgb(118,143,165);
}

a:hover {
	color:rgb(118,143,165);
}

a {
	text-decoration:none;
	color:#ffffff;
        font-size:18pt;
	font-weight:bold;
}}